.App {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  /* justify-content: center; */
  font-family: 'Inter', 'Montserrat', 'Oswald', 'Arial', 'Helvetica', sans-serif;
  /* background-color: rgba(32, 32, 32, 1); */
  -webkit-font-smooting: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

	border: 1px solid #000
}